.container {
    padding: 0 2rem;
}

.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    padding: 0.5rem;
    width: 22rem;
    margin: 1rem 0;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    border: none;
    border-radius: 0.2rem;
    background-color: #06a783;
    transition: background-color 0.3s;
    z-index: 1;
    border: 0.5px solid white;
}

.button:hover {
    background-color: #059274;
}

.footer {
    display: flex;
    padding: 0.5rem 0;
    border-top: 1px solid #06a783;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100vw;
}

.title {
    margin-bottom: 3rem;
    line-height: 1.15;
    font-size: 4rem;
    text-align: center;
    z-index: 1;
}

.imgContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.img {
    transition: transform 0.3s;
    cursor: pointer;
}

.img:hover {
    transform: scale(1.1);
}

.tooltip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: #06a783;
    color: #fff;
    text-align: center;
    padding: 1rem 1rem;
    border-radius: 1rem;
    z-index: 1;
    text-align: center;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltiptext {
    font-size: 1rem;
}

.hidden {
    display: none;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }

    .title {
        font-size: 2.5rem;
    }

    .button {
        font-size: 1.25rem;
        width: 15rem;
    }

    .imgContainer {
        flex-direction: column;
    }
}
